html, body, #map {
  height: 100%;
  width: 100%;        
  margin:0px;  
}

#map {
  height: 305px;
}

.prc-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
}

.modal-body {
  text-align: center;
}
.modal-content {
  background-color: #f5f5f5;
}
.modal-body-image {
  max-width: 100%;
  border: 1px solid #9F9FA3;
}
.modal-locationText {
  font-weight: bold;
}
.modal-houseCodeText {
  font-size: x-small;
  color: #6d6e70;
}
.modal-footer {
  text-align: left;
}

.tableIcon {
  height: 34px;
  width: 34px;
}
.table-custom {
  width: 0;
}

.btn-zoom {
  position: absolute;
  right: 47px;
  top: 10px;
  z-index: 1001;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #6d6e70;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}
.btn-zoom:hover {
  background-color: #f4f4f4;
}

.leaflet-control-attribution {
  font-size: x-small;
  color: #78787d;
}
.leaflet-control-attribution a {    
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

.btn-donor{
  background-color: #cd7f91;
  color: #525252;
}
.btn-donor:hover, .btn-donor.filtering {
  background-color: #b84862;  
  color:#000000; 
}
.btn-province{
  background-color: #7fcdbb;
  color: #525252;
}
.btn-province:hover, .btn-province.filtering {
  background-color: #48b89e;  
  color:#000000;
}
.btn-municip{
  background-color: #c7e9b4;
  color: #525252;
}
.btn-municip:hover, .btn-municip.filtering {
  background-color: #9bd879;  
  color:#000000; 
}
.btn-brgy{
  background-color: #edf8b1;
  color: #525252;
}
.btn-brgy:hover, .btn-brgy.filtering {
  background-color: #ddf26b;  
  color:#000000; 
}
.btn-donor, .btn-province, .btn-municip, .btn-brgy {
  margin-bottom: 3px;
  margin-right: 3px;
}
.btn:focus, .btn:hover, .btn:active {
  outline: 0 !important;
}
/*.btn-donor:focus, .btn-province:focus, .btn-municip:focus, .btn-brgy:focus {
  color: #000000;
}*/

/* default marker cluster */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }

/* custom styling for marker clusters*/
.marker-cluster-small {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-small div {
  background-color: rgba(165, 15, 21, 0.7);
}

.marker-cluster-medium {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-medium div {
  background-color: rgba(165, 15, 21, 0.7);
}

.marker-cluster-large {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-large div {
  background-color: rgba(165, 15, 21, 0.7);
}
.marker-cluster div {
  color: #FFF;
  text-align: center;
  border-radius: 15px;
  font: bold 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

