html, body, #map {
  height: 100%;
  width: 100%;        
  margin:0px;  
}
.prc-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9999;
}
.ifrc-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.leaflet-control-attribution {
  font-size: x-small;
  color: #78787d;
}
.leaflet-control-attribution a {    
  text-decoration: none;
  cursor: pointer;
  color: #6d6e70;
}

.btn:hover,
.btn:focus {
  outline: 0;
}
/* default marker cluster */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
.marker-cluster span {
  line-height: 30px;
  }

/* custom styling for marker clusters*/
.marker-cluster-small {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-small div {
  background-color: rgba(237, 27, 46, 0.7);
}

.marker-cluster-medium {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-medium div {
  background-color: rgba(237, 27, 46, 0.7);
}

.marker-cluster-large {
  background-color: rgba(255, 255, 255, 0.5);
}
.marker-cluster-large div {
  background-color: rgba(237, 27, 46, 0.7);
}
.marker-cluster div {
  color: #FFF;
  text-align: center;
  border-radius: 15px;
  font: bold 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

